<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChiriNulluo.Mahjong.OnlineUpdater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChiriNulluo.Mahjong.OnlineUpdater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ChiriNulluo.Mahjong.OnlineUpdater.My.MySettings>
            <setting name="ExeFileWithExtension" serializeAs="String">
                <value>TestProgram.exe</value>
            </setting>
            <setting name="ServerReleaseInfoXMLFIleWithExtension" serializeAs="String">
                <value>UpdateID.xml</value>
            </setting>
            <setting name="ReleaseSite" serializeAs="String">
                <value>http://nulluo.x.fc2.com/AutoUpdate</value>
            </setting>
            <setting name="LocalReleaseInfoXMLFIleWithExtension" serializeAs="String">
                <value>UpdateLog.xml</value>
            </setting>
            <setting name="TempDir" serializeAs="String">
                <value>Temp</value>
            </setting>
            <setting name="MainProgramDir" serializeAs="String">
                <value>Game</value>
            </setting>
        </ChiriNulluo.Mahjong.OnlineUpdater.My.MySettings>
    </applicationSettings>
    <userSettings>
        <ChiriNulluo.Mahjong.OnlineUpdater.My.MySettings>
            <setting name="LastUpdate" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
        </ChiriNulluo.Mahjong.OnlineUpdater.My.MySettings>
    </userSettings>
</configuration>